.body {
  color: #fff;
}

.body_container--home {
    background-color: #000;
}

@media (max-width: 480px) {
    .body {
         margin: 10px 20px 10px 20px;
    }
}

@media (max-width: 769px) {
    .body {
        margin: 8px;
         margin: 20px 80px 20px 80px;
    }
}

@media (min-width: 1200px) {
    .body {
        position: relative;
        max-width: 860px;
        margin:0 auto;
    }
}

a:link{
  background-color: #45F9DE;
  color: #000;
  text-decoration: none;
  font-weight: 700;
  padding: 1px;
}
a:visited{
   color: #121212;
}
a:hover{
  color: #fff;
  text-decoration: none;
  background:#8484FF;
}
a:active{
  color: #fff;
  text-decoration: none;
  background:#8484FF;
}

/* main text stuff */
.text-block-2 {
    margin: 0 auto;
  margin-top: 40px;
  padding-bottom: 0px;
  font-family: 'Plaid-S', sans-serif;
  font-size: 19px;
  line-height: 1.4em;
  color: #121212;
  max-width: 700px;
}

/* Nav, current page */
.text-block-3 {
    margin: 0 auto;
  padding: 8px 0px 20px 16px;
  font-family: 'Plaid-S', sans-serif;
  line-height: 1.5em;
  color: #8484FC;
  font-style: normal;
  max-width: 780px;
  margin-top: 10px;
}

/* Nav, linked pages*/
.text-block-4 {
  margin: 6px;
  margin-top: 0px;
   margin-bottom: 0px;
  padding-bottom: 0px;
  font-family: 'Plaid-S', sans-serif;
  font-size: 16px;
  line-height: 1.5em;
  font-weight: 500;
}

.text-block-4 a {
    background-color: #45F9DE;
}

.menu_top {
    flex-direction: row !important;
    width: 80% !important;
    margin: 0 auto !important;
}

@media (max-width: 489px) {
    .menu_top {
          flex-direction: column !important;
          margin: 0;
    }
}

/* small text */
.text-block-5 {
  color: #bdbdbd;
}

.mc-field-group {
  text-size: 16px;
  font-family: 'Plaid-S', sans-serif;

}

.text-block-6 {
  font-family: 'Plaid xs', sans-serif;
  color: hsla(264.88888888888886, 62.79%, 42.16%, 1.00);
  font-size: 20px;
  line-height: 25px;
}

.text-block-7 {
  color: #6028af;
  font-size: 20px;
}

.image-3 {
  font-size: 24px;
  text-align: center;
}

.heading {
  font-family: 'Plaid xl mono', sans-serif;
  font-size: 54px;
}

.sub_heading {
    font-family: 'Plaid xl mono', sans-serif;
    font-size: 38px;
    margin-top: 80px;
}

@media (max-width: 770px) {
    .image-4 {
          width: 80%;
          margin-bottom: 40px;
          margin-top: 40px;
    }
}

.image-4 {
  margin: 0 auto;
  margin-bottom: 15px;
  width: 70%;
}

@media (max-width: 489px) {
    .image-4 {
        display: none;
    }
}

.text-field {
  max-width: 600px;
  float: left;
}

.field-label {
  padding-bottom: 60px;
}

.div-block {
  position: relative;
  color: #fff0f0;
  display: flex;
  flex-direction: column;
  margin: 20px 8px 20px 8px;
}

.div_footer {
    width: 100%;
    padding: 20px;
}

@media (max-width: 770px) {
  .div_footer {
    padding: 15px;
  }
}

.div_footer a:hover {
    opacity: .4;
}

.div_footer a {
    background: transparent;
}

.text-block-4 a {
    background-color: #45F9DE;
}

.div_block--column {
    display: flex;
    flex-direction: column-reverse;
     margin: 70px 8px 70px 8px;
}
.div_block--column2 {
    display: flex;
    flex-direction: column-reverse;
     margin: 0px 8px 70px 8px;
}

@media (max-width: 770px) {
    .div_block--column {
        flex-direction: column-reverse;
    }
}


@media (max-width: 480px) {
    .div_block--column {
         margin: 20px 4px 60px 20px;
    }
}

.div_block--container {
    display: flex;
    flex-direction: column;
    margin-top: 80px;
    margin-bottom: 60px;
    margin-left: 60px;
}

@media (max-width: 770px) {
    .div_block--container {
        margin-top: 20px;
        margin-left: 20px;
    }
}

.div-image {
    width: 90%;
    margin: 0 auto;
    margin-top: 50px;
}

@media (max-width: 489px) {
    .div-image  {
        margin-top: 0px;
    }
}

.social_icons {
    display: flex;
    flex-direction: row;
}

@media (max-width: 489px) {
  .social_icons {
    margin-top: 60px;
  }
}

.social_icons img {
    max-width: 50px;
    max-height: 50px;
    margin-right: 20px;
}

@media (max-width: 489px) {
  .social_icons img {
      max-width: 44px;
      max-height: 44px;
  }
}

.social_icons a {
    background: none;
}

.social_icons a:hover {
    opacity: .4;
}

.image-5 {
  padding-bottom: 20px;
}

.utility-page-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  height: 100vh;
  max-height: 100%;
  max-width: 100%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.utility-page-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 260px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
}

.utility-page-form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.body-2 {
    background-color: white;
}

@media (max-width: 770px) {
    .body-2 {
}
}

.bold-text {
  color: #a6a6a6;
}

.bold-text-2 {
  color: #a6a6a6;
}

.bold-text-3 {
  color: #a6a6a6;
}

.bold-text-4 {
  color: #a6a6a6;
}

.bold-text-5 {
  color: #a6a6a6;
}

.bold-text-6 {
  color: #a6a6a6;
}

@media (max-width: 991px) {
  .text-block {
    font-family: 'Plaid xl mono', sans-serif;
  }
  .text-block-5 {
    font-family: 'Plaid xs', sans-serif;
  }
  .text-block-6 {
    font-family: 'Plaid xs', sans-serif;
  }
}

@media (max-width: 770px) {
  .body {
    padding: 15px 15px 1px;
  }
}

@media (max-width: 479px) {
  .body {
    margin-right: 10px;
    margin-left: 10px;
    padding: 6px 6px 1px;
    font-family: 'Plaid xs', sans-serif;
    color: #fff;
  }
  .text-block {
    font-family: 'Plaid xl mono', sans-serif;
  }
  .text-block-2 {
      margin-top: 0px;
    padding: 15px 10px;
    font-family: 'Plaid xs', sans-serif;
    font-size: 18px;
  }
  .text-block-3 {
          border: 0px;
          box-shadow: none;
          padding: 0px;
          margin-right: 0px;
  }
  .text-block-5 {
    padding-top: 10px;
    color: #5c2aa2;
  }
  .text-block-6 {
    padding-top: 10px;
    color: #6028af;
  }
  .text-block-7 {
    padding-top: 10px;
    color: #5c2aa3;
  }
  .image {
    padding-top: 5px;
    padding-bottom: 25px;
  }
  .image-2 {
    background-image: url('../images/example-bg.png');
    background-position: 0px 0px;
    background-size: 125px;
  }
  .image-3 {
    width: auto;
    max-width: 200%;
  }
  .heading {
    padding-left: 20px;
    font-weight: 700;
    font-family: 'Plaid xs', sans-serif;
    font-size: 40px;
  }
  .sub_heading {
      font-size: 28px;
      line-height: 32px;
      margin-top: 40px;
  }

  .button {
    padding-top: 10px;
    font-size: 18px;
    background-color:#8484FF;
  }

  .button-2 {
    padding-left: 10px;
    background-color: hsla(208.00000000000003, 0.00%, 100.00%, 1.00);
    color: #0a0a0a;
  }
  /* .image-4 {
    margin-bottom: 29px;
    width:100%;
    margin-left: 0px;
    margin-top: 0px;
  } */
  .text-field {
    max-width: 120px;
  }
  .div-block-3 {
    padding-bottom: 60px;
  }
}

@font-face {
  font-family: 'Plaid xs';
  src: url('../fonts/Plaid-XS.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Plaid xl mono';
  src: url('../fonts/Plaid-XL-Mono.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}
