.page {
  @include container(xl);
  max-width: $screen-size-xlarge;
  position: relative;

  img {
    width: 100%;
  }

  h1 {
    font-weight: normal;
    font-size: 5rem;
    background: $gradient-blue-purple;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    float: left;
    margin-bottom: 4rem;
    & ~ * {
      clear: both;
    }
  }
  h2 {
    font-size: 2rem;
    margin: 4rem 0 2rem 0;
    color: #9b85ff;
  }

  @media (min-width: $screen-size-medium) {
    @include padding($spacing-medium);
  }

  @media (min-width: $screen-size-large) {
    @include padding($spacing-medium $spacing-large);
  }
}

.page--home {
  @include padding(0 $spacing-base);

  @media (min-width: $screen-size-medium) {
    @include padding(0 $spacing-medium $spacing-medium);
  }

  @media (min-width: $screen-size-large) {
    @include padding(0 $spacing-large $spacing-medium);
  }
}

.page--inner {
  a {
    color: inherit;

    &:hover {
      color: #55b2d6;
      text-decoration-color: #5cb9dc;
    }
  }
}

.page-vibe-check {
  box-sizing: border-box;
  height: 100%;
  padding: 2em;
  color: #fff;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  text-align: center;
  margin: 0 auto;
  width: -moz-fit-content;
  width: fit-content;

  @media (max-width: 320px) {
    padding: 2em 1em;
  }

  @media (max-height: 700px) {
    align-items: flex-start;
  }

  .content {
    p {
      font-size: 33px;
      font-family: $font-family-plaid-l;
      margin: 1em 0 0 0;
    }
    @media (max-height: 700px) {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 0.5em;
      text-align: left;

      p {
        font-size: 18px;
        margin: 0 0 0 1em;
      }
    }
  }

  a {
    --border: 3px;
    display: inline-block;
    position: relative;

    text-decoration: none;
    border-radius: 99px;

    font-size: 24px;
    font-family: $font-family-plaid-xl;
    color: #fff;
    background: #000;
    padding: 0.6em 1em;

    background-clip: padding-box;
    border: solid var(--border) transparent;

    @media (max-width: 320px) {
      font-size: 18px;
    }

    &:before {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: -1;
      margin: calc(var(--border) * -1);
      border-radius: inherit;
      background: linear-gradient(
        to left,
        #bb68fd 2.08%,
        #9b85ff 17.19%,
        #77cce6 31.77%,
        #8effa7 46.88%,
        #f1ff6b 62.5%,
        #f0c559 78.65%,
        #ff5d9c 94.79%
      );
    }

    &:hover:before {
      background: #fff;
    }

    &:active:before {
      --border: 6px;
    }
  }
}
