.page {
  @include padding($spacing-base);
  position: relative;

  a {
      @include padding(0 .1em);
      background-color: $cyan;
      color: inherit;
      display: inline-block;
      text-decoration: none;
      transition: background-color $base-duration $base-timing, color $base-duration $base-timing,;

    &:hover {
      background-color: $purple;
      color: $white;
    }
  }

  @media (min-width: $screen-size-medium) {
    @include padding($spacing-medium);
  }

  @media (min-width: $screen-size-large) {
    @include padding($spacing-medium $spacing-large);
  }
}

.page--inner {
  max-width: 825px;
}
