<footer class="site-footer{% if page.url == '/' or page.url == 'index.html' %} site-footer--home{% endif %}">
  <ul class="site-footer__links">
    <li><a class="site-footer__link" href="privacy">Privacy</a></li>
    <li><a class="site-footer__link" href="terms">Terms</a></li>
    <li><a class="site-footer__link" href="dmca">DMCA</a></li>
  </ul>

  <p class="site-footer__copyright">&copy;Trash Inc.</p>
</footer>

<div class="callout callout-footer marquee">
  <div class="divider"></div>
  <div class="banner"></div>
</div>
