{% if page.url == "/" or page.url == 'index.html' %}
<div class="callout callout-header--dark">
  <a class="callout__link" href="/"></a>
</div>

<header class="site-header" style="text-align: center;">
  <img width="38%" src="/assets/images/trash_wordmark.svg" />
  <br />
  <img width="38%" src="/assets/images/trash_dontedityourself.svg" />
</header>
{% elsif page.url != "/" and page.url != 'index.html' %}
<div class="callout callout-header">
  <a class="callout__link" href="/"></a>
</div>
{% endif %}
