{% if page.url == "/" or page.url == 'index.html' %}
<nav class="navigation homepage-navigation">
  <ul>
    <li class="i4">
      <a class="active">Home</a>
    </li>
    <li class="i1">
      <a href="/about">About</a>
    </li>
    <li class="i2">
      <a href="/faq">Support</a>
    </li>
    <li class="i3">
      <a href="https://apps.apple.com/app/trash-you-shoot-we-edit/id1412091383"
        >Download</a
      >
    </li>
  </ul>
</nav>
{% elsif page.url != "/" and page.url != 'index.html' %}
<nav class="navigation">
  <ul>
    <li class="i4">
      <a href="/">Home</a>
    </li>
    <li class="i1">
      <a href="/about">About</a>
    </li>
    <li class="i2">
      <a href="/faq">Support</a>
    </li>
    <li class="i3">
      <a href="https://apps.apple.com/app/trash-you-shoot-we-edit/id1412091383"
        >Download</a
      >
    </li>
  </ul>
</nav>
{% endif %}
