.site-banner {
  background: #000;
  color: #fff;
  padding: 1.5rem;
  text-align: center;
  font-size: 0.8rem;
}

header {
  min-height: 9 / 16 * 100%;
  position: relative;

  video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: sepia(1) grayscale(1) contrast(0.7);
    z-index: -2;
    pointer-events: none;
  }

  nav {
    display: flex;
    justify-content: flex-end;
    // padding: 1rem;
    padding: $spacing-base * 1.5;

    a {
      color: #fff;
      font-size: 1.5rem;
      margin: 0 0.65rem;
      padding: 0.6rem 0.4rem;
      font-family: $font-family-plaid-l;
      text-decoration: none;
      border-radius: 0.8rem;

      &:nth-of-type(1):hover {
        background: linear-gradient(
          90deg,
          #bb68fd 4.85%,
          #9b85ff 29.68%,
          #77cce6 50.37%,
          #8effa7 72.44%,
          #f1ff6b 93.12%
        );
        color: transparent;
        background-clip: text;
      }
      &:nth-of-type(2):hover {
        background: linear-gradient(
          90deg,
          #8effa7 0%,
          #f1ff6b 35.42%,
          #f0c559 67.71%,
          #ff5d9c 100%
        );
        color: transparent;
        background-clip: text;
      }

      &.primary {
        color: #000;
        background: #fff;

        margin-left: 0.8rem;
        margin-right: 0;
        padding: 0.6rem 1rem;
        position: relative;

        &:hover {
          // background: linear-gradient(90deg, #8653fd 0%, #ff5d9c 100%);

          background: linear-gradient(
            90deg,
            tint(#bb68fd, 0%) 2.08333%,
            tint(#9b85ff, 0%) 17.1875%,
            tint(#77cce6, 0%) 31.770799999999998%,
            tint(#8effa7, 0%) 46.875%,
            tint(#f1ff6b, 0%) 62.5%,
            tint(#f0c559, 0%) 78.6458%,
            tint(#ff5d9c, 0%) 94.7917%
          );

          color: #000;
        }
      }
    }
  }
}

.slider {
  margin-top: -140px;
  .slider-item {
    display: flex;
    flex-wrap: wrap;
    padding-right: 6.75em;
  }
  h2 {
    font-size: 5rem;
    flex: 1 1 50%;
    margin-right: 1em;
  }
  p {
    font-size: 2.7rem;
    text-align: center;
  }
  .slider-mockup {
    background: #c4c4c4;
    border-radius: 52px;
    width: 412px;
    height: 779px;

    flex: 0 0 412px;
  }
}

footer {
  color: #fff;
  background: #000;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  .category {
    padding-top: 4rem;
    flex: 0 0 30%;
    font-size: 1.3rem;
    line-height: 2rem;
    a {
      display: block;
      text-decoration: none;
    }
    h3 {
      margin: 0;
      text-transform: uppercase;
      font-family: $font-family-plaid-xl;
      font-size: inherit;
    }
  }
  .bottom {
    flex: 1 0 100%;
    margin: 3rem 0 1rem;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;

    .soc {
      margin: 0 1.5rem 0 0;
      a {
        text-decoration: none;
        margin: 0.5rem;
        padding: 0.2rem;
        display: inline-block;
        height: 1.6em;
      }
      svg {
        fill: #fff;
        width: 1.6em;
        height: 1.6em;
      }
    }

    .links {
      a {
        text-decoration-color: #666;
      }
    }
  }
}
