.page-index {
  @include margin(null null $spacing-large);
  font-family: $font-family-plaid-xs;
  color: $white;
  position: relative;

  @media screen and (min-width: $screen-size-large) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }
}

.page-index__item {
  @media screen and (min-width: $screen-size-large) {
    &:nth-child(1) {
      grid-column: 1/2;
      grid-row: 1/2;
    }

    &:nth-child(2) {
      grid-column: 2/3;
      grid-row: 2/3;
      position: absolute;
      right: 0;
    }

    &:nth-child(3) {
      grid-column: 1/2;
      grid-row: 3/4;
      left: 25%;
      position: absolute;
    }
  }
}

.page-index__link {
  display: block;

  .on {
    display: none;
  }

  &:hover .off {
    display: none;    
  }

  &:hover .on {
    display: inline;
  }
}

.page-index__inline-link {
  font-family: 'Plaid-M';
  color: #fff;
  text-decoration-color: #828282;

  &:hover {
    color: #fff;
    text-decoration-color: #fff;
  }
}