.page-index {
  position: relative;
  @include margin(null null $spacing-large);

  @media screen and (min-width: $screen-size-large) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }
}

.page-index__link {
  display: block;
}

.page-index__app {
  @media screen and (min-width: $screen-size-large) {
    grid-column: 1/2;
    grid-row: 1/2;
  }
}

.app-store--outer {
  fill: $cyan;
}

.app-store--inner {
  fill: $black;
}

.page-index__link:hover .app-store--outer  {
  fill: $magenta;
}

.page-index__mag {
  @media screen and (min-width: $screen-size-large) {
    grid-column: 2/3;
    grid-row: 2/3;
    position: absolute;
    right: 0;
  }
}

.trash-mag--fill {
  fill: $magenta;
}

.trash-mag--stroke {
  stroke: $magenta;
}

.page-index__link:hover .trash-mag--fill {
  fill: $white;
}

.page-index__link:hover .trash-mag--stroke {
  stroke: $white;
}

.page-index__social {
  @media screen and (min-width: $screen-size-large) {
    grid-column: 1/2;
    grid-row: 3/4;
    left: 25%;
    position: absolute;
  }
}
