.callout {
  display: block;
  width: 100%;
  z-index: $z-index-site-header;
}

.callout-footer {
  display: none;

  @media (min-width: $screen-size-medium) {
    background-image: url('../images/layout-you-shoot--black.png'), url('../images/layout-you-shoot--bg.png');
    background-position: left center, left center;
    background-repeat: repeat-x, repeat-x;
    bottom: 0;
    display: block;
    height: 100px;
    left: 0;
    margin-top: $spacing-large;
    position: relative;
  }
}

.callout-header {
  @include margin($spacing-base null);
  background-image: url('../images/layout-you-shoot--white-light.png');
  height: 70px;
}

.callout-header--dark {
  @include margin($spacing-base null);
  background-image: url('../images/layout-you-shoot--white-dark.png');
  height: 70px;
}

.callout__link {
  display: block;
  height: 100%;
}
