.callout {
  display: block;
  width: 100%;
  z-index: $z-index-site-header;
}

.callout-footer { 
    display: block;
    margin-top: 6em;
}

.callout-header {
  @include margin($spacing-base null);
}

.callout-header--dark {
  @include margin($spacing-base null);
}

.callout__link {
  display: block;
  padding-bottom: 0.8em;

  .divider {
    display: block;
    background: no-repeat url(/assets/images/layout-rainbowstrip.svg);
    background-size: cover;
    height: 3px;
    width: 100%;
  }

  .banner {
    display: block;
    background: repeat-x url(/assets/images/layout-dontedityourself.svg);
    height: 77px;
    width: 100%;
    margin-top: 0.2em;
  }
}
