ul,
ol {
  line-height: 1.5;
  list-style-type: none;
  margin: 0;
  padding: 0;

  @media (min-width: $screen-size-medium) {
    font-size: 1.11rem;
  }
}

dl {
  margin: 0;
}

dt {
  font-weight: 600;
  margin: 0;
}

dd {
  margin: 0;
}
