.site-navigation {
  font-family: $font-family-plaid-xl;
  text-transform: uppercase;
}

.site-navigation__links {
  @include padding(0);
  list-style: none;
}

.site-navigation__link {
  color: $gray-medium;
  text-decoration: none;

  &:hover {
    color: $white;
  }
}
