.site-navigation {
  @include padding(null $spacing-base);
  font-family: $font-family-plaid-xl;
  margin-top: $spacing-medium;
  text-transform: uppercase;

  @media (min-width: $screen-size-medium) {
    @include padding(null $spacing-medium);
  }

  @media (min-width: $screen-size-large) {
    @include padding(null $spacing-large);
  }
}

.site-navigation__links {
  @include padding(0);
  list-style: none;
}

.site-navigation__links li + li {
  margin-top: .35rem;
}

.site-navigation__link {
  @include padding(.1em $spacing-small);
  background-color: $gray-light;
  color: $purple;
  text-decoration: none;

  &:hover {
    background-color: $white;
    border: 1px solid $black;
    color: $black;
  }
}

.site-navigation--home {
  .site-navigation__link {
    @include padding(0);
    background-color: unset;
    color: $gray-medium;

    &:hover {
      background-color: unset;
      border: none;
      color: $white;
    }
  }
}
