.site-header {
  margin-bottom: $spacing-medium;
  width: 100%;
}

.site-header__callout,
.site-header__callout--home {
  @include position(absolute, 0 null null 0);
  display: block;
  width: 100%;
  height: 70px;
  z-index: $z-index-site-header;
}

.site-header__callout {
  background-image: url('../images/layout-you-shoot--white-light.png');
}

.site-header__callout--home {
  background-image: url('../images/layout-you-shoot--white-dark.png');
}

.site-header__halo {
  @include margin(null auto);
  @include position(relative, 1rem null null null);
  display: block;
  width: 100%;
  z-index: $z-index-base;
}
