.navigation {
  @include container(s, $all-sides: true);

  @media (max-width: $screen-size-medium) {
    padding: 0.75rem;
  }

  ul {
    display: flex;
    justify-content: flex-end;
    margin: 0 -0.8rem;
    @media (max-width: $screen-size-large) {
      margin: 0;
    }
    @media (max-width: $screen-size-medium) {
      flex-wrap: wrap;
    }
  }

  li {
    list-style-type: none;
    &:first-of-type {
      flex: 1;
    }
  }

  a {
    @at-root .u-background-color--light & {
      color: #000;
    }
    color: #fff;
    font-size: 1.5rem;
    margin: 0 0.8rem;
    padding: 0.6rem 1rem;
    font-family: $font-family-plaid-l;
    text-decoration: none;
    border-radius: 0.8rem;

    @media (max-width: $screen-size-large) {
      font-size: 1rem;
      margin: 0;
      padding: 0.4rem 0.5rem;
    }

    @media (max-width: $screen-size-medium) {
      font-size: 0.8rem;
    }

    &.active {
      opacity: 0.5;
    }

    &[href]:hover {
      background: var(--col, #000);
      outline: none;
      color: #fff;
    }
  }
}

// Legacy

.site-navigation {
  @include padding(null $spacing-base);
  font-family: $font-family-plaid-xl;
  margin-top: $spacing-medium;

  @media (min-width: $screen-size-medium) {
    @include padding(null $spacing-medium);
  }

  @media (min-width: $screen-size-large) {
    @include padding(null $spacing-large);
  }
}

.site-navigation__links {
  @include padding(0);
  list-style: none;
}

.site-navigation__links li + li {
  margin-top: 0.35rem;
}

.site-navigation__link {
  @include padding(0.1em $spacing-small);
  background-color: $gray-light;
  color: $purple;
  text-decoration: none;

  &:hover {
    background-color: $white;
    border: 1px solid $black;
    color: $black;
  }
}

.site-navigation--home {
  .site-navigation__link {
    @include padding(0);
    background-color: unset;
    color: $gray-medium;

    &:hover {
      background-color: unset;
      border: none;
      color: $white;
    }
  }
}
