table {
  border-collapse: collapse;
  margin: $spacing-base 0;
  table-layout: fixed;
  text-align: left;
  width: 100%;
}

thead {
  line-height: $line-height-heading;
  vertical-align: bottom;
}

tbody {
  vertical-align: top;
}

tr {
  border-bottom: $base-border;
}

th {
  font-weight: 600;
}

th,
td {
  padding: $spacing-small $spacing-small $spacing-small 0;
}
