<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1,   
          shrink-to-fit=no, user-scalable=no" name="viewport">
    <title>{{ site.title }}</title>
    <link href="assets/stylesheets/main.css" rel="stylesheet" type="text/css">
    {% include favicon.html %}
    {% include google-analytics.html %}
  </head>

  <body class="u-background-color--{{ page.background }}">
    <main role="main" class="page{% unless page.url == '/' or page.url == 'index.html' %}{{ ' page--inner' }}{% endunless %}">
      {% if page.url == "/" or page.url == 'index.html' %}
        {% include site-header-home.html %}
      {% elsif page.url != "/" and page.url != 'index.html' %}
        {% include site-header-default.html %}
      {% endif %}

      {{ content }}
      {% include site-navigation.html %}
      {% include site-footer.html %}
    </main>
  </body>
</html>
