@include font-face(
  "Plaid-XL",
  "/assets/fonts/Plaid-XL",
  $file-formats: woff
);

@include font-face(
  "Plaid-XL-Italic",
  "/assets/fonts/Plaid-XL-Italic",
  $file-formats: woff
);

@include font-face(
  "Plaid-XL-Mono",
  "/assets/fonts/Plaid-XL-Mono",
  $file-formats: woff
);

@include font-face(
  "Plaid-L",
  "/assets/fonts/Plaid-L",
  $file-formats: woff
);

@include font-face(
  "Plaid-L-Italic",
  "/assets/fonts/Plaid-L-Italic",
  $file-formats: woff
);

@include font-face(
  "Plaid-L-Mono",
  "/assets/fonts/Plaid-L-Mono",
  $file-formats: woff
);

@include font-face(
  "Plaid-M",
  "/assets/fonts/Plaid-M",
  $file-formats: woff
);

@include font-face(
  "Plaid-M-Italic",
  "/assets/fonts/Plaid-M-Italic",
  $file-formats: woff
);

@include font-face(
  "Plaid-M-Mono",
  "/assets/fonts/Plaid-M-Mono",
  $file-formats: woff
);

@include font-face(
  "Plaid-S",
  "/assets/fonts/Plaid-S",
  $file-formats: woff
);

@include font-face(
  "Plaid-S-Italic",
  "/assets/fonts/Plaid-S-Italic",
  $file-formats: woff
);

@include font-face(
  "Plaid-S-Mono",
  "/assets/fonts/Plaid-S-Mono",
  $file-formats: woff
);

@include font-face(
  "Plaid-XS",
  "/assets/fonts/Plaid-XS",
  $file-formats: woff
);

@include font-face(
  "Plaid-XS-Italic",
  "/assets/fonts/Plaid-XS-Italic",
  $file-formats: woff
);

@include font-face(
  "Plaid-XS-Mono",
  "/assets/fonts/Plaid-XS-Mono",
  $file-formats: woff
);
