.icon-social__container {
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  height: 75px;
  justify-content: space-between;
  position: relative;

  @media (min-width: $screen-size-large) {
    background-image: url('../images/social-hoop.svg');
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: 100%;
    height: 130px;
    justify-content: space-evenly;
    width: 420px;

    &::before {
      bottom: -30px;
      color: $purple;
      content: 'Like...';
      display: block;
      font-family: $font-family-plaid-xs-mono;
      left: 0;
      position: absolute;
      text-transform: lowercase;
    }
  }
}

.icon-social--fill {
  fill: $purple;
}

.icon-social__link:hover .icon-social--fill {
  fill: $white;
}

@media (min-width: $screen-size-large) {
  .icon-social__link:hover {
    &:nth-child(1)::after {
      bottom: -30px;
      color: $white;
      content: 'fun videos';
      display: block;
      font-family: $font-family-plaid-xs-mono;
      left: 80px;
      position: absolute;
      text-transform: lowercase;
    }

    &:nth-child(2)::after {
      bottom: -30px;
      color: $white;
      content: 'sweet science';
      display: block;
      font-family: $font-family-plaid-xs-mono;
      left: 80px;
      position: absolute;
      text-transform: lowercase;
    }

    &:nth-child(3)::after {
      bottom: -30px;
      color: $white;
      content: 'announcements';
      display: block;
      font-family: $font-family-plaid-xs-mono;
      left: 80px;
      position: absolute;
      text-transform: lowercase;
    }

    &:nth-child(4)::after {
      bottom: -30px;
      color: $white;
      content: 'who knows';
      display: block;
      font-family: $font-family-plaid-xs-mono;
      left: 80px;
      position: absolute;
      text-transform: lowercase;
    }
  }
}
