html {
  box-sizing: border-box;
  font-size: 18px;

  @media (min-width: $screen-size-medium) {
    font-size: 20px;
  }
}

html,
body {
  height: 100%;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  @include margin(0);
  @include padding(null $spacing-small);
  -webkit-font-smoothing: antialiased;

  @media (min-width: $screen-size-medium) {
    @include padding(null $spacing-medium);
  }

  @media (min-width: $screen-size-large) {
    @include padding(null $spacing-large);
  }
}
